html {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    justify-content: space-between;
    background-color: rgb(5, 7, 22);
    background-size: 1200px;
    margin: 0;
    height: 100%;
}

p {
    color: whitesmoke;
}

footer {
    background-color: rgb(11, 16, 49);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    padding-top: 8px;
    padding-bottom: 6px;
    color: white;
    text-shadow:
    0 0 20px #fff;
    /* animation: pulsate 5s infinite alternate; */
    font-weight: bold;
    font-size: 18px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 40px;
    color: whitesmoke;
    font-size: 42px;
    /* -webkit-animation: pulsate 5s infinite alternate;
    -moz-animation: pulsate 5s infinite alternate; */
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px rgb(0, 119, 255),
    0 0 80px rgb(0, 119, 255),
    0 0 90px rgb(0, 119, 255),
    0 0 100px rgb(0, 119, 255),
    0 0 150px rgb(0, 119, 255);
}

#grid-container {
    border: solid;
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    background-color: inherit;
    border-radius: 5px;
    box-shadow: 0 0 50px rgb(116, 116, 116);
    display: grid;
    background-color: white;

}

#grid-container > * {
    /* height: 100%; */
    background-color: white;
    transition: all 0.5s;
}


#ui-container {
    display: flex;
    width: 490px;
    align-items: center;
    justify-content: space-between;
}

#left-ui {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow:
    0 0 20px #fff;
}


#pen-mode-container {
    display: flex;
    gap: 8px;
}

#grid-size {
    margin-top: 10px;
}

#pen-mode-btn, #clear-grid-btn {
    background: #1b2e748f;
    border: none;
    border-radius: 13px;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: whitesmoke;
    transition: all 0.1s ease-in-out;
    margin-top: 2px;
}

#color-input {
    /* border: 1px solid whitesmoke; */
    border: none;
    border-radius: 4px;
    padding: 4px;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    background-clip: padding-box;
    background-color: #1b2e748f;
}

#pen-mode-btn:hover, #clear-grid-btn:hover {
    transform: scale(1.05);
}

#pen-mode-btn:active, #clear-grid-btn:active {
    transform: scale(1.1);
}

#right-ui {
    display: flex;
}

.button-description {
    margin-bottom: 0;
    /* animation: pulsate 5s infinite alternate; */
}

a:visited, a:link {
    text-decoration: none;
    color: white;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #020022;
    background: #1b2f74;
    border-radius: 3px;
}

#grid-size::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #020022;
    background: #1b2f74;
    border-radius: 3px;
}

#grid-size::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #020022;
    background: #1b2f74;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid #839de5;
    height: 23px;
    width: 22px;
    border-radius: 23px;
    background: #435296;
    cursor: pointer;
}

#grid-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #839de5;
    height: 23px;
    width: 22px;
    border-radius: 23px;
    background: #435296;
    cursor: pointer;
    margin-top: -10px;
}

#grid-size::-ms-thumb{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #839de5;
    height: 23px;
    width: 22px;
    border-radius: 23px;
    background: #435296;
    cursor: pointer;
}
