html {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    justify-content: space-between;
    background-color: rgb(5, 7, 22);
    background-size: 1200px;
    margin: 0;
    height: 100%;
}

p {
    color: whitesmoke;
}

footer {
    background-color: rgb(11, 16, 49);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    padding-top: 12px;
    padding-bottom: 10px;
    color: white;
    text-shadow:
    0 0 20px #fff;
    /* animation: pulsateHeader 5s infinite alternate; */
    font-weight: bold;
    font-size: 18px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 40px;
    color: whitesmoke;
    font-size: 42px;
    /* text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px rgb(0, 119, 255),
    0 0 80px rgb(0, 119, 255),
    0 0 90px rgb(0, 119, 255),
    0 0 100px rgb(0, 119, 255),
    0 0 150px rgb(0, 119, 255); */
    animation: pulsateHeader 5s infinite alternate; 
}

#grid-container {
    border: solid;
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    background-color: inherit;
    border-radius: 5px;
    box-shadow: -5px -5px 5px grey, 5px 5px 5px grey;
    display: grid;
    background-color: white;

}

.square-div {
    transition: all 0.5s;
}

#ui-container {
    display: flex;
    width: 490px;
    align-items: center;
    justify-content: space-between;
}

#left-ui {
    display: flex;
    gap: 10px;
    font-size: 20px;
    animation: pulsateHeader 5s infinite alternate;
    font-weight: bold;
}

#pen-mode-container {
    display: flex;
    gap: 8px;
}

#change-grid-size-container, #pen-mode-main {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-between;
}

#pen-mode-btn, #clear-grid-btn {
    background: #1b2e748f;
    border: none;
    border-radius: 13px;
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: whitesmoke;
    transition: all 0.1s ease-in-out;
}

#color-input {
    /* border: 1px solid whitesmoke; */
    border: none;
    border-radius: 4px;
    padding: 4px;
    width: 30px;
    height: 30px;
    align-self: flex-end;
    background-clip: padding-box;
    background-color: #1b2e748f;
}

#pen-mode-btn:hover, #clear-grid-btn:hover {
    transform: scale(1.05);
}

#pen-mode-btn:active, #clear-grid-btn:active {
    transform: scale(1.1);
}

#right-ui {
    display: flex;
}

.button-description {
    margin-bottom: 0;
}

a:visited, a:link {
    text-decoration: none;
    color: white;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #020022;
    background: #1b2f74;
    border-radius: 3px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #020022;
    background: #1b2f74;
    border-radius: 3px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #020022;
    background: #1b2f74;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #020022;
    background: #1b2f74;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: 2px solid #839de5;
    height: 23px;
    width: 22px;
    border-radius: 23px;
    background: #435296;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    border: 2px solid #839de5;
    height: 23px;
    width: 22px;
    border-radius: 23px;
    background: #435296;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    border: 2px solid #839de5;
    height: 23px;
    width: 22px;
    border-radius: 23px;
    background: #435296;
    cursor: pointer;
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 119, 255),
        0 0 80px rgb(0, 119, 255),
        0 0 90px rgb(0, 119, 255),
        0 0 100px rgb(0, 119, 255),
        0 0 150px rgb(0, 119, 255);
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px rgb(255, 230, 0),
        0 0 45px rgb(255, 230, 0),
        0 0 55px rgb(255, 230, 0),
        0 0 70px rgb(255, 230, 0),
        0 0 80px rgb(255, 230, 0);
    }
  }


    /*TRY TO REPLACE WITH YELLOW*/
  @keyframes pulsateHeader {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 119, 255),
        0 0 80px rgb(0, 119, 255),
        0 0 90px rgb(0, 119, 255),
        0 0 100px rgb(0, 119, 255),
        0 0 150px rgb(0, 119, 255);
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(0, 119, 255),
        0 0 100px rgb(0, 119, 255),
        0 0 150px rgb(0, 119, 255);
    }
  }